
.marginalized[data-old]::before {
  text-decoration-line: line-through;
  color: red;
  
  content: attr(data-old);
}
.marginalized[data-old] {
  color: #006e28;
}

.add .marginalized {
  color: #006e28;
}
